.carousel-inner img{height: 500px;}
.carousel{max-width:1024px; margin:0 auto;}
.modal.show{align-items:center;
display: flex !important;}
.arrow.next{ transform: rotate(180deg); }

.about-carousel{align-items:center;
        display:flex;
        justify-content: center;}


        .owl-carousel{max-width: 1024px;}
        .arrow{position: absolute;}